{% extends "base.html.twig" %}



{% block title %}
    Blog Symfony | Modification profil
{% endblock %}



{% block body %}
    
    <h1 class="text-center">Modification des données personnelle</h1>


    {{ form_start(formUpdate, {'attr': {'class': 'col-6 mx-auto mt-5'}}) }}

        {{ form_row(formUpdate.email) }}

        {{ form_row(formUpdate.prenom) }}

        {{ form_row(formUpdate.nom) }}

        {{ form_row(formUpdate.adresse) }}

        {{ form_row(formUpdate.ville) }}

        {{ form_row(formUpdate.codePostal) }}

        <div class='text-center'>
            <button type="submit" class="btn bg-secondary text-white mb-3">Validation</button>
        </div>

    {{ form_end(formUpdate) }}


{% endblock %}