{% extends "base.html.twig" %}

{% block title %}

    Blog Symfony |

 {% if editMode %}    
        Modification de l'article
    {% else %}        
        Nouvel article
    {% endif %}

{% endblock %}

{% block body %}


    <h1 class="text-center my-5">
    
    {% if editMode %}
    {# Si editMode renvoi TRUE, cela veut dire que l'ID possede un ID, c'est une modification #}
        Modification de l'article
    {% else %}
        {# Sinon l'article ne possede pas d'ID , c'est une insertion #}
        Nouvel article
    {% endif %}

    </h1>

    {# 1ere methode du formulaire #}
    {# <form method="post">
        <div class="col-6 mx-auto">
            <div class="mb-3">
                <label for="titre" class="form-label">Titre</label>
                <input type="text" class="form-control" id="titre" name="titre">
            </div>
            <div class="mb-3">
                <label for="contenu" class="form-label">Contenu</label>
                <textarea type="text" class="form-control" rows='10' id="contenu" name="contenu"></textarea>
            </div>
            <div class="mb-3 ">            
                <label for="photo" class="form-label" >Photo</label>
                <input type="text" class="form-control" id="photo" name="photo">
            </div>
            <div class="text-center">
            <button type="submit" class="btn btn-primary col-4">Envoyer !</button>
            </div>
        </div>
    </form> #}

    {# 2ème methode du formlaire #}
    {# formArticle ne sort pas de null part, c'est le resultat du creatView(), c'est ce que le controller a transmit au template, il il contient tout les champs du formulaire #}
    {# form_start(), form_end() : fonction twig permettant de mettre en form et d'afficher le form #}
<div class="col-8 mx-auto">
    {{ form_start(formArticle) }}

        {{ form_row(formArticle.titre) }}

        {{ form_row(formArticle.contenu) }}

        {{ form_row(formArticle.photo) }}

        {{ form_row(formArticle.category) }}

        {% if photoActuelle %}

        {# Si photoActuelle retourne TRUE, cela veut dire que l'article possède une photo, c'est une modification, alors on entre dans la condition IF et on affiche la photoactuelle de l'article #}
        <em>Vous pouvez mettre une autre photo si vous souhaitez la modifier</em>
        <P class="col-12 text-center">
            <img src="{{ asset('uploads/photos/' ~ photoActuelle) }}" alt="" class="col-12 img-responsive img-modif ">
        </p>
            
        {% endif %}

        <div class="text-center">
            <button type="submit" class="btn btn-primary col-3">
            
            {% if editMode %}    
                Enregistrer
            {% else %}
                Envoyer
            {% endif %}
            
            </button>
        </div>
    {{ form_end(formArticle) }}
</div>
    
{% endblock %}